a {
   transition: .36s;
   color: inherit;
}

/* custom carousel caption to middle screen position */
.carousel-caption.carousel-caption-middle {
   bottom: unset;
   top: 50%;
   left: 50%;
   right: unset;
   transform: translate(-50%, -50%);
   width: calc(100% - 30%);
   max-width: 1140px;
}

/* change carousel to full screen */
.carousel.carousel-banner .carousel-item {
   height: 100vh;
   background-color: #323232;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

/* hide/ erase carousel item img when carousel-banner is added to carousel class */
.carousel.carousel-banner .carousel-item>img {
   display: none !important;
}