a {
   color: inherit;
}

.vh-100 {
   height: 100vh;
}



/* custom gutter */
.g-3 {
   margin-left: -7.5px;
   margin-right: -7.5px;
   margin-top: -15px;
}

.g-3>div {
   padding-left: 7.5px;
   padding-right: 7.5px;
   margin-top: 15px;
}

@media (min-width: 768px) {
   .g-md-3 {
      margin-left: -7.5px;
      margin-right: -7.5px;
      margin-top: -15px;
   }

   .g-md-3>div {
      padding-left: 7.5px;
      padding-right: 7.5px;
      margin-top: 15px;
   }
}

@media (min-width: 992px) {
   .g-lg-3 {
      margin-left: -7.5px;
      margin-right: -7.5px;
      margin-top: -15px;
   }

   .g-lg-3>div {
      padding-left: 7.5px;
      padding-right: 7.5px;
      margin-top: 15px;
   }
}



/* custom gap */
.gap-3 {
   grid-gap: 15px;
}

@media (min-width: 678px) {
   .gap-md-3 {
      grid-gap: 15px;
   }
}

@media (min-width: 992px) {
   .gap-lg-3 {
      grid-gap: 15px;
   }
}



/* custom position */
.top-unset {
   top: unset;
}

.bottom-0 {
   bottom: 0;
}

.left-0 {
   left: 0;
}

.right-0 {
   right: 0;
}