a {
   transition: .36s;
   color: inherit;
}

/* custom carousel caption to middle screen position */
.carousel-caption.carousel-caption-middle {
   bottom: unset;
   top: 50%;
   left: 50%;
   right: unset;
   transform: translate(-50%, -50%);
   width: calc(100% - 30%);
   max-width: 1140px;
}

/* change carousel to full screen */
.carousel.carousel-fullscreen .carousel-item {
   height: 100vh;
   background-color: #323232;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

/* hide/ erase carousel item img when carousel-banner is added to carousel class */
.carousel.carousel-fullscreen .carousel-item>img {
   display: none !important;
}

/* custom gutter on .row > .col */
.row.g-3,
.d-flex.g-3 {
   margin-left: -7.5px;
   margin-right: -7.5px;
}

.row.g-3>div,
.d-flex.g-3>div {
   padding-left: 7.5px;
   padding-right: 7.5px;
}

/* custom horisontal card */
.card .row.no-gutters .card-body {
   padding: 15px;
}

.card .row.no-gutters .card-body-img {
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

/* menambahkan class "sama-rata" pada baris pembungkus card item */
.row.sama-rata>div>.card {
   height: 100%;
}