html,
body {
   font-family: 'HelveticaNeue', Arial, Helvetica, sans-serif;
   background-color: white;
}

* {
   /* border-radius: .25rem !important; */
}

input::placeholder,
.form-control::placeholder {
   color: inherit !important;
   opacity: .5;
}

.wrapper > section {
   margin-bottom: 5rem;
}

.wrapper > section:first-of-type {
   padding-top: 5rem;
}